/* CSS COMPLETED */

body {
    background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/nasty_fabric.png)
  }
  

/*CIRCLE, SEGMENTS AND GAME MAIN BODY*/

#outer-circle {
    background: #385a94;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    margin: auto;
    margin-top: 60px;
    box-shadow: 8px 8px 15px 5px #888888;
}

#topleft {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 250px 0 0 0;
    -moz-border-radius: 250px 0 0 0;
    -webkit-border-radius: 250px 0 0 0;
    background: darkgreen;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#topright {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
    background: darkred;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bottomleft {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
    background: goldenrod;
    top: 50%;
    left: 50%;
    margin: 0px -250px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bottomright {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    -webkit-border-radius: 0 0 250px 0;
    background: darkblue;
    top: 50%;
    left: 50%;
    margin: 0px 0px -250px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#inner-circle {
    position: absolute;
    background: grey;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 10px;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*CIRCLE AND MAIN BODY COMPLETE

SWITCHES AND COUNTER BELOW*/

.toggle {
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.button {
    border-radius: 50% !important;
    font-size: 1.5em;
    background-color: lightgray;
    cursor: pointer;
}

#switches {
    position: absolute;
    font-family: "Lobster", cursive;
    margin-left: 26px;
    margin-top: 110px;
}

.text2 {
    position: absolute;
    font-family: "Lobster", cursive;
    margin-left: 89px;
    margin-top: 197px;
}

.text1 {
    position: absolute;
    font-family: "Lobster", cursive;
    margin-left: 23px;
    margin-top: 142px;
}

.text1 span:last-child {
    margin-left: 80px;
}

#title {
    position: absolute;
    font-family: "Lobster", cursive;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 40px; 
}

#turn {
    position: absolute;
    background: #330000;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    height: 30px;
    width: 50px;
    margin-left: 90px;
    margin-top: 170px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

/* SETTINGS MENU  */

.settings {
    width: 20%;
    float: left;
}

.settings-header {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 35px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.settings-header-open {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 35px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.settings-title {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    padding-right: 20px;
}

.icon {
    margin: auto 10px auto 20px;
    cursor: pointer;
}

/* HIDDEN MENU STYLING */

.settings-options {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    max-height: 0px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 0px;
    transition: max-height padding-top 0.9s;
    -moz-transition: max-height padding-top 0.9s;
    -webkit-transition: max-height padding-top 0.9s;
    overflow-x: hidden;
}

.settings-options-open {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    max-height: 200px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 20px;
    z-index: 1;
    transition: max-height padding-top 0.9s;
    -moz-transition: max-height padding-top 0.9s;
    -webkit-transition: max-height padding-top 0.9s;
}

.name, .theme, .sound {
    padding-left: 20px;
    height: 30px;
}


/* MENU ICON STYLING */

.nameIcon, .themeIcon {
    cursor: pointer;
}

/* MODAL STYLING */

.modal{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}